Package: com.vlesscore.app
Name: vless-core
Version: 0.3.0-1
Architecture: iphoneos-arm
Description: Full-device VLESS routing app
Maintainer: notfence
Author: notfence
Section: Networking
Priority: optional
Depends: firmware (>= 6.0), mobilesubstrate
